[Unit]
Description=Podman container-asterisk_call_register.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
After=container-asterisk_ws_monitor.service
After=container-postgres_13.service
Before=container-asterisk_call.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStart=/usr/bin/podman start call_register
ExecStop=/usr/bin/podman stop -t 10 call_register
ExecStopPost=/usr/bin/podman stop -t 10 call_register
Type=forking

[Install]
WantedBy=multi-user.target default.target
