[Unit]
Description=Podman container-postgres_13.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
Before=container-asterisk_recall.service
RequiresMountsFor=/run/user/1000/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman start postgres_13
ExecStop=/usr/bin/podman stop -t 10 postgres_13
ExecStopPost=/usr/bin/podman stop -t 10 postgres_13
Type=forking

[Install]
WantedBy=multi-user.target default.target
