[Unit]
Description=Podman container-caller_prometheus_webhook.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
After=container-asterisk_call.service 
After=container-caller_sms.service
RequiresMountsFor=/run/user/1000/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman start caller_prometheus_webhook
ExecStop=/usr/bin/podman stop -t 10 caller_prometheus_webhook
ExecStopPost=/usr/bin/podman stop -t 10 caller_prometheus_webhook
Type=forking

[Install]
WantedBy=multi-user.target default.target
