[Unit]
Description=Podman container-asterisk_call.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
After=container-asterisk_call_register.service
After=container-generate_audio.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStart=/usr/bin/podman start asterisk_call
ExecStop=/usr/bin/podman stop -t 10 asterisk_call
ExecStopPost=/usr/bin/podman stop -t 10 asterisk_call
Type=forking

[Install]
WantedBy=multi-user.target default.target
