<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>py-phone-caller home</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">py-phone-caller</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ home_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ calls_url }}">Managed Calls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ ws_events_url }}">Asterisk WS Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ schedule_call_url }}">Scheduled Calls</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Session
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ logout_url }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container align-items-center .justify-content-sm-center">
    <div style="text-align: center"><h2>Main Menu</h2></div>
    <div class="d-inline-flex p-2 bd-highlight" style="margin-left: 35%; margin-top: 10%">

        <div class="p-2 bd-highlight" style="text-align: center">
            <a href="{{ calls_url }}"/><img alt="List of the Managed Calls"
                                            src="{{ url_for('.static', filename='images/calls.png') }}" width="80"/></a>
            <div>Managed Calls</div>
        </div>
        <div class="p-2 bd-highlight" style="text-align: center">
            <a href="{{ ws_events_url }}"/><img alt="List of the Asterisk WebSocket Events"
                                                src="{{ url_for('.static', filename='images/ws_events.png') }}"
                                                width="80"/></a>
            <div>PBX WebSocket Events</div>
        </div>
        <div class="p-2 bd-highlight" style="text-align: center">
            <a href="{{ schedule_call_url }}"/><img alt="Schedule a Call"
                                                    src="{{ url_for('.static', filename='images/schedule_call.png') }}"
                                                    width="80"/></a>
            <div>Schedule a Call</div>
        </div>
    </div>
</div>

</body>
</html>