aiohttp
asyncpg
aiodns
celery[redis]
dynaconf
flask
flask[async]
flask-login
flask-session
httpx
hypercorn
toml
piccolo
pytz
twilio
websockets
click<8.2.0
gunicorn
opentelemetry-api>=1.24.0
opentelemetry-sdk>=1.24.0
opentelemetry-exporter-otlp>=1.24.0
opentelemetry-exporter-prometheus>=0.45b0
opentelemetry-instrumentation-aiohttp-client>=0.45b0
opentelemetry-instrumentation-aiohttp-server>=0.45b0
opentelemetry-instrumentation-flask>=0.45b0
opentelemetry-instrumentation-requests>=0.45b0
opentelemetry-instrumentation-celery>=0.45b0
opentelemetry-instrumentation-asyncpg>=0.45b0
opentelemetry-instrumentation-system-metrics>=0.45b0
prometheus-client
