[Unit]
Description=Py Phone Caller - Caller Prometheus Webhook Service
After=network.target
After=asterisk-caller.service
After=caller-sms.service

[Service]
EnvironmentFile=-/opt/py-phone-caller/src/config/py-phone-caller.env
Type=simple
User=py-phone-caller
Group=py-phone-caller
WorkingDirectory=/opt/py-phone-caller
ExecStart=/opt/py-phone-caller/venv/bin/python -m caller_prometheus_webhook.caller_prometheus_webhook
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10s
TimeoutStopSec=15
PrivateTmp=true

[Install]
WantedBy=multi-user.target
