[Unit]
Description=Py Phone Caller - Generate Audio Service
After=network.target

[Service]
EnvironmentFile=-/opt/py-phone-caller/src/config/py-phone-caller.env
Type=simple
User=py-phone-caller
Group=py-phone-caller
WorkingDirectory=/opt/py-phone-caller
ExecStart=/opt/py-phone-caller/venv/bin/python -m generate_audio.generate_audio
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10s
TimeoutStopSec=15
PrivateTmp=true

[Install]
WantedBy=multi-user.target
